#info-wrapper {
    margin: 0;
    padding: 0;
    -fx-background-color: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    overflow: hidden;
}

#info-content {
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0.1, 0.1, 0.1);
}

#info-delete {
    -fx-text-fill: #e9f4fb;
    -fx-border-width: 0;
    -fx-border-style: solid;
    -fx-background-color: #d04c4c;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-font-color: #e9f4fb;
    -fx-cursor: pointer;
    -fx-outline: none;
}
